.logo_container {
  width: 50px;
  height: 48px;
  position: relative;
}
.logo_container .ellipse_big {
  height: 100%;
  width: 48px;
  border-radius: 50%;
  background-color: var(--primary-color);
}
.logo_container .ellipse_small {
  height: 26px;
  width: 26px;
  position: absolute;
  bottom: 0;
  right: 0;
  border-radius: 50%;
  background-color: var(--white-color);
  -webkit-box-shadow: 0px 4px 4px 0px rgba(57, 70, 136, 0.1803921569);
          box-shadow: 0px 4px 4px 0px rgba(57, 70, 136, 0.1803921569);
}