.tag {
  padding: 8px 16px;
  border-radius: 8px;
  font-family: var(--font-family);
  font-size: var(--font-size-small);
  line-height: var(--line-height);
  text-decoration: none;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}
.tag.primary {
  background-color: var(--primary-transparent5-color);
  color: var(--primary-color);
}
.tag.primary:hover {
  background-color: var(--primary-transparent15-color);
}
.tag.white {
  background-color: var(--white-transparent20-color);
  color: var(--white-color);
}
.tag.white:hover {
  background-color: var(--white-transparent40-color);
}

@media screen and (max-width: 1850px) {
  .tag {
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    font-size: var(--font-size-extra-small);
  }
}