.time {
  font-family: var(--font-family);
  font-size: var(--font-size-small);
  line-height: var(--line-height);
}
.time.light {
  color: var(--white-color);
}
.time.dark {
  color: var(--black2-transperant40-color);
}