.main {
    width: 100%;
    height: auto;
    margin-top: 70px;

    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;
    gap: 40px;

    .background_image {
        max-width: 100%;
        width: 100%;
        height: 300px;

        background-image: url('https://demgerall.github.io/GoszakazGroupMainPage/assets/images/backgroundImage.jpg');
        background-position: center center;
        background-repeat: no-repeat;
        background-size: cover;
    }

    .content {
        width: 100%;
        height: auto;
        padding: 0 13.5vw;

        display: flex;
        flex-flow: row nowrap;
        gap: 40px;
    }
}

@media screen and (320px < width <= 1024px) {
    .main {
        .background_image {
            height: 250px;
        }

        .content {
            padding: 0 42px;

            flex-flow: column nowrap;
        }
    }
}

@media screen and (max-width: 720px) {
    .main {
        .background_image {
            height: 150px;
        }

        .content {
            padding: 0 20px;

            flex-flow: column nowrap;
        }
    }
}
