.main_content {
    max-width: 1040px;

    flex-shrink: 1;

    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(10, auto);
    gap: 40px;

    .card {
        max-width: 100%;
        max-height: 400px;
        padding: 40px;

        border-radius: 20px;

        display: flex;
        flex-flow: column nowrap;

        cursor: pointer;

        transition: all 0.3s ease-in-out;

        &:hover {
            box-shadow: 4px 8px 40px 0px #08186f33;
        }

        &:focus {
            outline: 1.5px solid var(--primary-color);
        }

        &.horizontal {
            background-color: var(--white-color);

            gap: 30px;

            &.big {
                grid-row: span 2;
                grid-column: span 3;
            }
            &.medium {
                grid-row: span 2;
                grid-column: span 2;
            }
            &.small {
                padding: 30px;

                grid-column: span 2;
            }

            .card_info {
                display: flex;
                flex-flow: row nowrap;
                justify-content: space-between;
                align-items: center;
            }

            .card_content {
                display: flex;
                flex-flow: column nowrap;
                gap: 20px;

                overflow: hidden;
                text-overflow: ellipsis;

                .card_description {
                    color: var(--black2-transperant40-color);
                }
            }
        }

        &.vertical {
            height: 400px;

            justify-content: space-between;

            grid-row: span 2;

            &.primary {
                background-color: var(--primary-color);

                &:hover {
                    background-color: var(--white-color);

                    .tag {
                        background-color: var(--primary-transparent5-color);

                        color: var(--primary-color);

                        &:hover {
                            background-color: var(
                                --primary-transparent15-color
                            );
                        }
                    }

                    .card_heading {
                        color: var(--black2-color);
                    }

                    .time {
                        color: var(--black2-transperant40-color);
                    }
                }
            }
            &.image1,
            .image2 {
                background-position: center center;
                background-repeat: no-repeat;
                background-size: cover;
            }
            &.image1 {
                background-image: url('/assets/images/image1.jpg');
            }
            &.image2 {
                background-image: url('/assets/images/image2.jpg');
            }

            .card_content {
                display: flex;
                flex-flow: column nowrap;
                gap: 30px;

                .card_heading {
                    color: var(--white-color);
                }
            }
        }
    }
}

@media screen and (720px < width <= 1024px) {
    .main_content {
        max-width: 940px;

        grid-template-rows: repeat(6, auto);
    }
}

@media screen and (max-width: 720px) {
    .main_content {
        max-width: 100%;

        display: flex;
        flex-flow: column nowrap;

        .card {
            &.horizontal {
                &.big {
                    grid-row: 1;
                    grid-column: 1;
                }
                &.medium {
                    grid-row: 1;
                    grid-column: 1;
                }
                &.small {
                    grid-row: 1;
                    grid-column: 1;
                }
            }
            &.vertical {
                grid-row: 1;
            }
        }
    }
}
